In [1]:
import pandas as pd
titanic = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic.csv')
houses = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kc_house_data.csv')
netflix = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/netflix_titles.csv', sep = "|",index_col=0)
btc = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/coin_Bitcoin.csv')
countries = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/world-happiness-report-2021.csv',index_col='Country name')

In [14]:
titanic['age'] = pd.to_numeric(titanic['age'].replace(['?'],[None])).astype('float')




titanic['fare'] = pd.to_numeric(titanic['fare'].replace(['?'],[None])).astype('float')




titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       1309 non-null   object
 13  home.dest  1309 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 143.3+ KB

In [ ]:
titanic.age

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64

In [ ]:
def years_to_days(years) :
 return years * 365

In [ ]:
titanic['age'].apply(years_to_days)

0       10585.0000
1         334.5955
2         730.0000
3       10950.0000
4        9125.0000
           ...
1304     5292.5000
1305           NaN
1306     9672.5000
1307     9855.0000
1308    10585.0000
Name: age, Length: 1309, dtype: float64

In [ ]:
def get_age_group(age):
  if age < 2:
    return 'infant'
  elif age < 12:
    return 'child'
  elif age < 18:
    return 'teeenager'
  elif age < 50:
    return 'adult'
  else:
    return 'senior'

In [ ]:
titanic['age'].apply(get_age_group)

0           adult
1          infant
2           child
3           adult
4           adult
          ...
1304    teeenager
1305       senior
1306        adult
1307        adult
1308        adult
Name: age, Length: 1309, dtype: object

In [ ]:
titanic['age_group']= titanic['age'].apply(get_age_group)

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       1309 non-null   object
 13  home.dest  1309 non-null   object
 14  age_group  1309 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 153.5+ KB

In [ ]:
titanic['age_group'].value_counts()

age_group
adult        782
senior       373
child         69
teeenager     63
infant        22
Name: count, dtype: int64

In [ ]:
titanic.groupby('age_group')['survived'].mean()

age_group
adult        0.386189
child        0.492754
infant       0.772727
senior       0.313673
teeenager    0.476190
Name: survived, dtype: float64

In [ ]:
titanic.groupby(['sex','age_group'])['survived'].mean()

sex     age_group
female  adult        0.748201
        child        0.515152
        infant       0.888889
        senior       0.698276
        teeenager    0.833333
male    adult        0.186508
        child        0.472222
        infant       0.692308
        senior       0.140078
        teeenager    0.151515
Name: survived, dtype: float64

In [ ]:
titanic.groupby(['age_group','sex'])['survived'].mean()

age_group  sex
adult      female    0.748201
           male      0.186508
child      female    0.515152
           male      0.472222
infant     female    0.888889
           male      0.692308
senior     female    0.698276
           male      0.140078
teeenager  female    0.833333
           male      0.151515
Name: survived, dtype: float64

In [2]:
titanic['fare']

0       211.3375
1         151.55
2         151.55
3         151.55
4         151.55
          ...
1304     14.4542
1305     14.4542
1306       7.225
1307       7.225
1308       7.875
Name: fare, Length: 1309, dtype: object

In [3]:
titanic['fare'].apply(lambda fare :  f'${fare * 2}')

0       $211.3375211.3375
1           $151.55151.55
2           $151.55151.55
3           $151.55151.55
4           $151.55151.55
              ...
1304      $14.454214.4542
1305      $14.454214.4542
1306          $7.2257.225
1307          $7.2257.225
1308          $7.8757.875
Name: fare, Length: 1309, dtype: object

In [4]:
def convert_currency(num,multiplier):
  return f'${num * multiplier}'

In [5]:
convert_currency(10,2)

'$20'

In [7]:
titanic['fare'].apply(convert_currency,args=(2,))

0       $211.3375211.3375
1           $151.55151.55
2           $151.55151.55
3           $151.55151.55
4           $151.55151.55
              ...
1304      $14.454214.4542
1305      $14.454214.4542
1306          $7.2257.225
1307          $7.2257.225
1308          $7.8757.875
Name: fare, Length: 1309, dtype: object

In [18]:
df = titanic[['pclass','survived','age']]
df

      pclass  survived      age
0          1         1  29.0000
1          1         1   0.9167
2          1         0   2.0000
3          1         0  30.0000
4          1         0  25.0000
...      ...       ...      ...
1304       3         0  14.5000
1305       3         0      NaN
1306       3         0  26.5000
1307       3         0  27.0000
1308       3         0  29.0000

[1309 rows x 3 columns]

In [10]:
def get_range(x) :
  return x.max() - x.min()

In [16]:
titanic['age'] = pd.to_numeric(titanic['age'].replace(['?'],[None])).astype('float')
titanic['fare'] = pd.to_numeric(titanic['fare'].replace(['?'],[None])).astype('float')

In [19]:
df.apply(get_range)

pclass       2.0000
survived     1.0000
age         79.8333
dtype: float64

In [20]:
df.apply(get_range,axis=1)

0       28.0000
1        0.0833
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305     3.0000
1306    26.5000
1307    27.0000
1308    29.0000
Length: 1309, dtype: float64

In [21]:
df.loc[0]

pclass       1.0
survived     1.0
age         29.0
Name: 0, dtype: float64

In [24]:
def compute_family_size (s):
  family_size = s.sibsp + s.parch
  if family_size == 0:
    return f'Solo'
  elif family_size < 5 :
    return f'Average'
  else:
    return f'Large'

In [25]:
titanic['family_size'] = titanic.apply(compute_family_size,axis=1)

In [26]:
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,family_size
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO",Solo
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON",Average
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",Average
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON",Average
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,?,C,?,328,?,Average
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,?,C,?,?,?,Average
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,?,C,?,304,?,Solo
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,?,C,?,?,?,Solo
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,?,S,?,?,?,Solo

In [27]:
titanic['family_size'].value_counts()

family_size
Solo       790
Average    459
Large       60
Name: count, dtype: int64

In [28]:
titanic.groupby('family_size').survived.mean()

family_size
Average    0.549020
Large      0.150000
Solo       0.302532
Name: survived, dtype: float64

In [29]:
titanic.pclass

0       1
1       1
2       1
3       1
4       1
       ..
1304    3
1305    3
1306    3
1307    3
1308    3
Name: pclass, Length: 1309, dtype: int64

In [30]:
titanic.pclass.map({1:'First',2:'Second',3:'Third'})

0       First
1       First
2       First
3       First
4       First
        ...
1304    Third
1305    Third
1306    Third
1307    Third
1308    Third
Name: pclass, Length: 1309, dtype: object

In [31]:
titanic['age'].map(lambda a: a<18)

0       False
1        True
2        True
3       False
4       False
        ...
1304     True
1305    False
1306    False
1307    False
1308    False
Name: age, Length: 1309, dtype: bool

In [34]:
df = titanic[['name','sex']]
df

df.applymap(str.upper)

/tmp/ipython-input-3512312086.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.upper)

                                                 name     sex
0                       ALLEN, MISS. ELISABETH WALTON  FEMALE
1                      ALLISON, MASTER. HUDSON TREVOR    MALE
2                        ALLISON, MISS. HELEN LORAINE  FEMALE
3                ALLISON, MR. HUDSON JOSHUA CREIGHTON    MALE
4     ALLISON, MRS. HUDSON J C (BESSIE WALDO DANIELS)  FEMALE
...                                               ...     ...
1304                             ZABOUR, MISS. HILENI  FEMALE
1305                            ZABOUR, MISS. THAMINE  FEMALE
1306                        ZAKARIAN, MR. MAPRIEDEDER    MALE
1307                              ZAKARIAN, MR. ORTIN    MALE
1308                               ZIMMERMAN, MR. LEO    MALE

[1309 rows x 2 columns]

In [ ]:
tips = sns.load_dataset('tips')
tips